:root {
  --skyblue: #BDE5FF ;
  --yellow:#FFFB25;
  --intenseskyblue: #92D4FF;
  --backblue: #3AB7F5;
  --aqua: #3ab7cd;
  background-color: var(--skyblue);
}

@font-face {
    
    font-family: Smooth-Circulars;
    src : url("{{ url_for('static', filename='fonts/Smooth-Circulars.otf') }}");
    
    
  }  
  
  

 .navbar-expand, .dropdown-menu{
   background-color: var(--aqua);

 }


 .text-center, .text-lg-start, .bg-light, .text-muted{
  
  background-color: var(--skyblue);
  }

  .d-flex, .justify-content-center, .justify-content-lg-between, .p-4, .border-bottom{
    background-color: var(--skyblue);
  }

 .navbar-brand{

   color: var(--yellow);
   font-size: 25px;
   font-family: 'Smooth-Circulars';
 }

/*PRUEBA FOOTER CSS GRID*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "footer footer footer"
    "footer footer footer";
    background-color: var(--skyblue);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "upfooter upfooter upfooter"
    "downfooter downfooter downfooter"
    "downfooter downfooter downfooter";
  grid-area: footer;

  background-color: var(--skyblue);
}

.upfooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "whatsapp entrega regalos"
    "whatsapp entrega regalos"
    "whatsapp entrega regalos";
  grid-area: upfooter;
}

.entrega { grid-area: entrega; }

.whatsapp { grid-area: whatsapp; }

.regalos { grid-area: regalos; }

.downfooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: downfooter;
}

.contacto { grid-area: 1 / 3 / 4 / 4; }

.acerca { grid-area: 1 / 1 / 4 / 3; }

.musicalbox { grid-area: 1 / 1 / 3 / 3; }

.redes { grid-area: 3 / 1 / 4 / 3; }


  