<form method="POST" action="{{url_for('dashboard.newproduct')}}">
    
    {{ form.csrf_token }}
    {{ form.n_lanzamiento.label }} {{ form.n_lanzamiento(size=100) }}
    <p>
        Confirmar Lanzamiento ? 
        <input type="radio" name="confirmar" value="si" id="Positivo" > Sí
    <input type="radio" name="confirmar" value="no" id="Negativo" checked> No
      </p>
    
    {{ form.n_producto.label }} {{ form.n_producto(size=100) }}
    {{form.k_category.label}} {{form.k_category}}
    {{ form.i_producto.label }} {{ form.i_producto(size=100) }}
    {{form.d_producto.label}} {{form.d_producto}}
    {{form.p_producto.label}} {{form.p_producto}}
    {{form.stock.label}} {{form.stock}}

    
    <input type="submit" value="Agregar Artista">
</form> 

<script>
    $(function(){
        $.ajax({
            url: '{{url_for("dashboard.newproduct_releases")}}'
        }).done(function(data){
            $('#lanzamiento').autocomplete({
                
                source:data,
                
                minLenght:1
            });
        });
    });
    
/*  SE TRATÓ CON JQUERY TRAER LAS CATEGORIAS, PERO FLASKWTF LO CUBRE :)
    $(function(){
        $.ajax({
            url: '{{url_for("dashboard.newproduct_categories")}}'
        }).done(function(data){
            console.log(data)
            data.forEach(function(e, i){
            $('#category').append($('<option></option>').val(e.key).text(e.value)); 
            });
        });
    });
*/
    
</script>

<script>
    var n_lanzamiento_input = document.getElementById("lanzamiento")
    console.log(n_lanzamiento_input)

// evento para el input radio del "si"
document.getElementById('Positivo').addEventListener('click', function(e) {
  console.log('Vamos a habilitar el input text');
  console.log(n_lanzamiento_input)
  
  n_lanzamiento_input.disabled = true;
});

// evento para el input radio del "no"
document.getElementById('Negativo').addEventListener('click', function(e) {
  console.log('Vamos a deshabilitar el input text');
  console.log(n_lanzamiento_input)
  n_lanzamiento_input.disabled = false;
});
</script>