<form method="POST" action="{{url_for('dashboard.newrelease')}}">
    {{ form.csrf_token }}
    {{ form.n_lanzamiento.label }} {{ form.n_lanzamiento(size=50) }}
    {{ form.i_lanzamiento.label }} {{ form.i_lanzamiento(size=100) }}
    {{form.k_artista.label}} {{form.k_artista}}
    {{form.f_lanzamiento.label}} {{form.f_lanzamiento}}
    {{form.k_genero.label}}{{form.k_genero}}

    
    <input type="submit" value="Agregar Artista">
</form> 


<script>
    $(function(){
        $.ajax({
            url: '{{url_for("dashboard.newrelease_artists")}}'
        }).done(function(data){
            console.log(data)
            data.label= data.n_artista
            data.value= data.k_artista
            console.log(data)
            $('#artista').autocomplete({
                
                source:data,
                
                minLenght:1
            });
        });
    });
    
</script>