{%extends "base.html"%}
{%block head%} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/purchase.css') }}" type="text/css"> 
{%endblock%}

{%block title%}
Mi compra
{%endblock%}



{%block contenido%}




<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">3 items</div>
                </div>
            </div>
            {%if not purchase_cart%}
                No tienes compras! <a href="home.index">Empieza a agregar a tu carrito</a>
            {%else%}
            {%for p in purchase_cart%}
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{get_release_by_id(get_product_by_id(p).k_lanzamiento).i_lanzamiento}}"></div>
                    <div class="col">
                        <div class="row text-muted">{{get_product_by_id(p).k_categoria }}</div>
                        <div class="row">{{get_release_by_id(get_product_by_id(p).k_lanzamiento).n_lanzamiento}}  {{get_product_by_id(p).n_producto }}</div>
                    </div>
                    <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                    <div class="col">&euro; {{get_product_by_id(p).p_producto }} <span class="close">&#10005;</span></div>
                </div>
            </div>
            {%endfor%}
            
            
            
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
                <div class="col text-right">&euro; 132.00</div>
            </div>
            <form>
                <p>SHIPPING</p> <select>
                    <option class="text-muted">Standard-Delivery- &euro;5.00</option>
                </select>
                <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; 137.00</div>
            </div> <button class="btn">CHECKOUT</button>
        </div>
    </div>
</div>

  {%endif%}
{%endblock%}