{%extends "base.html"%}
{%block head%}  
<link rel="icon" type="image" href="{{ url_for('static', filename='imgs/musicalbox.png') }}" width="40px" heigth="40px" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/releases.css') }}" type="text/css">
{%endblock%}

{%block title%}
Lanzamientos
{%endblock%}

{%block contenido%}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<div class="container">
    <div class="row clearfix">
        {%for release in releases%}
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                       <a href="{{url_for('releases.release', k_lanzamiento = release.id)}}"> 
                        {%if (datetime.now() -  datetime.strptime(release.f_lanzamiento,'%Y-%m-%d')) < delta(days=90) %}
                        <div class='img-new'>
                            nuevo
                        </div> 
                        {%endif%}

                          
                        <img src="{{ release.i_lanzamiento }}"  alt="Product" class="img-fluid"> </a>
                        <div class="hover">
                            {%if user%}
                            {%if user["k_rol"] == 'ADMIN'%}
                            
                            <a href="{{url_for('dashboard.updaterelease', k_lanzamiento = release.id)}}" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-edit"></i></a>
                            {%endif%}
                            {%endif%}
                        </div>
                        
                        
                    </div>
                    <div class="product_details">
                        <h5><a href="{{url_for('artists.artist', k_artista =get_artist_by_release(release.id).id)}}">{{(get_artist_by_release(release.id).n_artista).title()}}</a> - <a href="{{url_for('releases.release', k_lanzamiento = release.id)}}">{{release.n_lanzamiento.title() }}</a></h5> 
                        <ul class="product_price list-unstyled">
                            <li class="old_price">
                                {%for cat in get_categories_by_release(release.id) %}
                                <a href=#>{{cat}}</a> /
                                {%endfor%}
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        
    </div>
</div>

{%endblock%}

{%block scripts%}
{%endblock%}